:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

@font-face {
    font-family: 'outfit';
    src: url('https://fonts.google.com/specimen/Outfit');
}

body {
    font-family: 'outfit';
}

h1 {
    font-weight: 700;
}

p {
    font-size: 15px;
    font-weight: 400;
}