:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
}

h1 {
    font-size: 22px;
    font-weight: 700;
    padding-inline: 10%;
}

p {
    line-height: 150%;
    font-size: 15px;
    font-weight: 400;
    padding-inline: 15%;
    padding-block-end: 8%;
    color: var(--grayish-blue);
}

img {
    width: 90%;
    margin-block-start: 5%;
    margin-block-end: 3%;
    border-radius: 8%;
}

.center { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5%;

    width: 400px;
    max-width: 30vw;
    height: fit-content;
    background-color: var(--white);
}

@media (max-width: 250px) {
    #qr-container {
        width: 60vw;
    }
    h1 {
        font-size: 3vw;
    }
    p {
        font-size: 2.5vw;
    }
}